/* Style for defining main variables */
$main-bg-color: #ccbaba;
$main-font-color: #fff;
$main-font-size: 14px;
$primary-color: #ccbaba;

/* Break points */
$small-devices: 320px;
$mobile-width: 481px;
$tablet-width: 768px;
$desktop-width: 1025px;

$scala-regular: 'scalasansregular';
$scala-bold: 'scala_sans_scbold';
$scala-bold-italic: 'scalasansitalicbold';